
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    box-sizing: border-box;
}

body { 
    display: flex; 
    background-color: #9c939354;
    margin: 0px;
    flex-direction: column;
    height: 100vh;
    }


    .tituloh2 {
        text-align: center;
        margin: 20px 0;
    }


/* HEADER */

.header {
    height: 100px;
    width: 100%;
    background-color: #000000dc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10%;
    margin-top: 0;
    position: fixed;
    top: 0;
    
    
    
}

.header .logo img {
    height: 80px;
    width: auto;
    padding: 0 250%;
    transition: all 0.3s;
}


/* NAV BAR */
.navegador {
    padding: 0px 15%;
    margin: auto;
    
    
}
.header .navegador ul li {
    list-style: none;
    display: inline-block;
    padding: 0 18px;
    
}

.header .logo {
    cursor: pointer;
}
.navegador .nav-links a {
    color: #fffafae1;
    text-decoration: none;
    padding: 0 20px;
    
    
}
.header .nav-links li:hover{
    transform: scale(1.1);
}






/* MAIN */

/* IMG MAIN */
.imgmenu {
    display: flex;
    width: 1200px;
    height: 500px;
    background-color: black;
    border-radius: 28px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
}

.imgmenu img {
    height: 500px;
    width: 1000px;
}

/* SECTION MAPS */


.ubicacion {
    padding: 10 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ubicacion a {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    color: rgba(10, 10, 10, 0.808);
}

.ubicacion h2 {
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
    font-size: 120px;
    font-weight: 300;
}

/* PRODUCT CARDS */


main h2 {
    font-size: 26px;
    font-weight: 300;
    color: rgb(10, 10, 10);
}

main .mih2 {
    
    height: 100%;
    margin: 2%;
    margin-right: 900px;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    
}





.product-card {
    
    /* APLICO FLEXBOX */
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    /* GAP SIRVE PARA SEPARAR CONTENEDORES ENTRE SI */
    gap: 20px;
    
    
    
    
}


.box1 {
    background-color: whitesmoke;
    width: 300px;
    height: 265px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid black; 
    border-radius: 8px;
    padding: 5px;
}



.box1 img {
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    
}

.box1 p {
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
}

.box1 h3 {
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
}

.box1 button {
    font-weight: 300;
    width: 250px;
    color: white;
    background-color: rgba(2, 2, 2, 0.842);
    margin-top: 3px;
}


.descuentos {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 50px;
}





/* FOOTER */
.elfooter {
    height: 80px;
    width: 100%;
    background-color: #000000dc;
    margin: 0;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    

    

}

.elfooter p { 

    font-size: 15px;
    font-weight: 100;
    color: white;
}



.elfooter ul li {
    list-style-type: none;
    display: inline-block;
    
    
    }

.elfooter .footer-links a {
    font-size: 300;
    color: azure;
    text-decoration: none;
    text-align: center;
    
    
}


/* img footer */
.imgfooter {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
;
    padding: 0 10px;
    
}

.imgfooter img {
    height: 70px;
    width: 70px;
    
}

.redes {
    border-left: 2px solid white;
    border-right: 2px solid white;
    display: flex;
    flex-direction: column;
    padding: 5px;
    
}

.redes h3 {
    margin-bottom: 10px;
    color: #fff;
}


/* FORM */



.formulario {
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: 3px solid #000000dc;
    border-radius: 20px;
    background-color: #000000dc;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 70px;
    

}

.formpart {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
}



.formpart .consulta {
    height: 120px;
    width: 80%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
    

.formpart input {
        height: 40px;
        margin: 10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 13px 0px ;
        color: black;
        background-color: white;
        border-radius: 4px;
        border-top: none;
        border-right: none;
        border-left: none;
        outline: none;
        resize: none;
        
        
    }






.formpart h3 {
    color: #fffafae1;
    text-align: center;
    font-weight: 300;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 28px;
}

@media (max-width: 720px) {
    
    .formulario {
        width: 80%;
        
        
    }

}

@media (max-width: 480px) {
    
    .formulario {
        width: 80%;
        
        
    }

}
/* productos DESTACADOS INDEX */
.productosindex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
    padding: 15px;
    gap: 20px;

}






/* product box seccion productos */
.productos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 20px;
    gap: 20px;

}


.producto-card {
    height: 250px;
    width: 270px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
    background-color: rgba(255, 253, 253, 0.801);
    text-align: center;
    
}
.producto-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.producto-card img {
    height: 100px;
    width: 150px;
    margin: 5px;
}

.producto-card h3 {
    font-size: 20px;
    font-weight: 400;
}

.producto-card p {
    font-size: 20px;
    font-weight: 400;
}

.producto-card button {
    font-weight: 300;
    width: 236px;
    height: 33px;
    color: white;
    background-color: rgba(2, 2, 2, 0.842);
    margin-top: 3px;
    border-radius: 50px;
    border: 1px solid black;
    
}

.titulos {
    text-align: center;
    margin-top: 110px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}


